<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/food/">
    {% csrf_token %}
    <h2>Generate Random Users</h2>
    Total: <input type="text" name="total" />
    <input type="submit">
</form>

</body>
</html>